@model IndexModel
@{
    <footer class="border-top footer text-white" style="background-color:slategray" >
        <div class="container">
            &copy; 2020 - ToDo - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
}
