@page "{Id}"
@model ToDo.Pages.EditModel
@{

    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Edit</h1>
            </div>
        </div>
        <br />


        <form method="post" asp-route="@Model.ToDo.Id">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p>Indtast hvad du vil tilføje til din ToDo: </p>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="@Model.ToDo.ToDoName" asp-for="ToDoName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p>Tilføj en description på din ToDo: </p>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="@Model.ToDo.Description" asp-for="Decription" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p>Færdig gjørt din ToDo?: </p>
                            <p>if checked = done: </p>
                            <div class="input-group">
                                <input type="checkbox" class="form-control"
                                       placeholder="@Model.ToDo.Done" asp-for="Done" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <button type="submit" class="btn btn-info">Save ToDo</button>
                        <br />
                    </div>
                </div>
            </div>
        </form>


        <a asp-page="./Index" class="btn btn-danger"><i class="btn text-white">Back To ToDos</i></a>

    </div>
}
