@page
@model ToDo.Pages.PrivacyModel
@{
    <div class="container">
        <div>
            <h1>Privacy</h1>
            <p>Ha Yeah right u dont have any authoraty over your own data here</p>
            <p>Get Fucked NOOB</p>
            <p>gg ez</p>
        </div>

    </div>
}
