@page
@model ToDo.Pages.PrivacyModel
@{
    <div class="container">
        <div>
            <h1>Privacy</h1>
            <p>Ha Yeah right u dont have any authority over your own data here</p>
            <p>YOINK</p>
            <p>I Own you now</p>
            <p>I'm not the one making the rules</p>
            <p>Oh Wait</p>
            <p>Yes I am</p>
            <p>HA!</p>
        </div>

    </div>
}
